<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="tipoFichero" value="1" />
    <add key="idioma" value="0" />
    <add key ="SQLStringCon" value="Data Source=.;Initial Catalog=VuelingDB;User ID=sa;Password=Npmmamt-1"/>
  </appSettings>

</configuration>